<!DOCTYPE <html>
<head>
	<title>Edit Article</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<h2 align="center">Edit Article</h2>
	</br>
	<%= render 'form' %>
</body>
</html>