<!DOCTYPE html>
<html>
<head>
	<title>All Articles</title>
</head>
<body>
	<h1 align="center">All Articles</h1> 
	<div align="center">
		<%= will_paginate %>
	</div>
	<%= render 'article', obj: @articles %>
	<div align="center">
		<%= will_paginate %>
	</div>
</body>
</html>