<!DOCTYPE html>
<html>
<head>
	<title>All Articles</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<h1 align="center">All Articles</h1> 

	<%= render 'article', obj: @articles %>

</body>
</html>