<!DOCTYPE <html>
<head>
	<title>Create Article</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="content">
		<h2>New Article</h2>
		<%= render 'form' %>
	</div>
</body>
</html>