<!DOCTYPE <html>
<head>
	<title>About Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="grid">
		<div class="wrapper">
			<div class="box box1"></div>
			<a href="/"><div class="box box2"><div id="center">Home</div></div></a>
			<div class="box box3"></div>
			<div class="box box4"></div>
		</div>
		<div class="content">
			<h2>About this Blog</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Fermentum odio eu feugiat pretium nibh ipsum. Luctus accumsan tortor posuere ac ut consequat semper viverra nam. Sem nulla pharetra diam sit. Fringilla ut morbi tincidunt augue interdum. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Rutrum quisque non tellus orci ac. Aenean sed adipiscing diam donec adipiscing.</p>
			<p>Egestas sed tempus urna et pharetra pharetra. Integer feugiat scelerisque varius morbi enim. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Tellus in hac habitasse platea dictumst vestibulum. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Massa id neque aliquam vestibulum. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Fames ac turpis egestas sed tempus urna et. Est ultricies integer quis auctor elit sed vulputate mi sit. Vel orci porta non pulvinar neque.</p>
		</div>
		</div>
</body>
</html>