<!DOCTYPE <html>
<head>
	<title>Careers Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="content">
		<div class="center jumbotron">
			<h2>Careers Page</h2>
			<p>You serious?</p>
		</div>
		<p>This page is meant as a joke. You might say this is a joke page. No, I am not hiring. I may be intersted in a job, though. If you liked this joke, you might like me. Hit this dev-comedian up @ davideallen7 at gmail.com</p>
	</div>
</body>
</html>