$navbar-default-bg: white;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #e74c3c;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	text-decoration: none;
	color: #313F4E;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('alpha-blog-banner.png');
	background-size: auto 100%; 
}

.jumbotron h2 {
	font-weight: bold;
}

.btn-1 {
	background-color: #C95F4C;
	border: none;
}

.btn-1:hover {
	background-color: #313F4E;
	color: #C95F4C;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer {
	background-color: white;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}