$navbar-default-bg: white;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #e74c3c;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	text-decoration: none;
	color: #313F4E;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('alpha-blog-banner.png')
}

.jumbotron h2 {
	font-weight: bold;
}

.btn-1 {
	background-color: #C95F4C;
	border: none;
}

.btn-1:hover {
	background-color: #313F4E;
	color: #C95F4C;
}

.footer {
	background-color: white;
	text-align: center;
	position:absolute;
	left:0;
	right:0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 50px;
}